.container{
    padding-left: 52px;
    padding-right: 53px;
}
.navbar-site {
    /* background-color: #006DB4; */
    /* background-color: #10147E; */
    background-color: rgb(76, 117, 179);
    border: 0px;
    margin-bottom: 0px;
    z-index: 1;
    box-shadow: 5px 5px 5px #24282b;
   
}

.navbar-brand{
    margin-right: 49px;
    /* width: 186px; */
    font-size: 28px;
    margin-left: 0px;
    font-weight: BOLD;
    color: #ddd;
    /* box-shadow: 10px 10px 5px #24282b; */
}