.container{
    padding-left: 52px;
    padding-right: 53px;
}
.navbar-site {
    /* background-color: #006DB4; */
    background-color: #253138;
    border: 0px;
    margin-bottom: 0px;
    z-index: 1;
}
.navbar-brand{
    margin-right: 49px;
    width: 186px;
    margin-left: 0px;
    color: #ddd;
}