.container{
    padding-left: 52px;
    padding-right: 53px;
}
.navbar-site {
    background-color: #10147E; 
    border: 0px;
    text-align: center;
    margin-bottom: 0px;
    z-index: 1;
    box-shadow: 2px 2px 2px #24282b;
   
}

.navbar-brand{
    margin-right: 49px;
    font-size: 28px;
    margin-left: 0px;
    width:100%;
    color: #ddd;
}