.footer-wrapper{ 
    background-color: #333333;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    height: 100px;
    width: 100%;
}
.logo-container img{
    height: 100%;
    width: 100%;
}
.logo-container{
    height: 55px;
    width: 231px;
}
   